{% extends layout %}

{% block header %}
    <header>
        <h1>{{ city.name }}</h1>
        <p>{{ city.long_description }}</p>
    </header>
{% endblock %}


{% block content %}
    <section class="tiles">
        {% for event in events %}
            <article class="style{{ random([1,2,3,4,5,6]) }}">
                <span class="image">
                    <img src="{{ event.picture }}" alt="{{ event.name }}"/>
                </span>
                <a href="javascript:void(0)" class="event-selector"
                   data-latitude="{{ event.latitude }}"
                   data-longitude="{{ event.latitude }}">
                    <h2>{{ event.name }}</h2>
                    <div class="content">
                        <p>{{ event.price }}</p></br>
                        {{ event.provider }}
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>
    <span id="search-hotels">Search</span>
{% endblock %}


{% block javascript %}
    <script src="/assets/js/app/city.js"></script>
{% endblock %}
