{% extends layout %}

{% block header %}
    <header>
        <h1>{{ city.name }}</h1>
        <p>{{ city.long_description }}</p>
    </header>
{% endblock %}


{% block content %}
    <section class="tiles">
        {% for event in events %}
            <article class="style{{ random([1,2,3,4,5,6]) }}">
                <span class="image">
                    <img src="{{ event.picture }}" alt="{{ event.name }}"/>
                </span>
                <a href="javascript:void(0)" class="event-selector"
                   data-latitude="{{ event.latitude }}"
                   data-longitude="{{ event.longitude }}">
                    <h2>{{ event.name }}</h2>
                    <div class="content">
                        <p>{{ event.price }}</p></br>
                        {% if event.provider == 'hotelbeds' %}
                            <img src="http://www.argophilia.com/news/wp-content/uploads/2011/11/hotel.jpg" style="height: 30px;"/>
                        {% else %}
                            <img src="http://www.azcoupon.it/media/114.jpg" style="height: 30px;"/>
                        {% endif %}
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>
    <ul class="actions">
        <li><input type="submit" id="search-hotels" value="Search" class="special"></li>
    </ul>

    <form id="search-events" action="/hotels" method="post">
        <input type="hidden" id="hidden-coordinates" name="coordinates" value=""/>
    </form>
{% endblock %}


{% block javascript %}
    <script src="/assets/js/app/city.js"></script>
{% endblock %}
