{% extends layout %}

{% block header %}
    <header>
        <h1>Best hotels for you</h1>
        <p>Here you can find the best hotels for your location</p>
    </header>
{% endblock %}


{% block content %}
    <section class="tiles">
        {% for hotel in hotels %}
            <article class="style">
                <span class="image">
                    <img src="{{ hotel.pictures.hotel_id.url_square60 }}" alt="{{ hotel.hotel_name }}"/>
                </span>
                <a href="javascript:void(0)" class="event-selector">
                    <h2>{{ hotel.hotel_name }}</h2>
                    <div class="content">
                        <p>{{ hotel.room_min_price.price }}€</p></br>
                        {{ hotel.address }}
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
